<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="d-flex">
            <div class="me-auto">
                <span class="text-muted">&Eta;&beta; 2020</span>
            </div>
            <div class="text-muted text-end">
                <span>Contact: info@hutchybop.co.uk</span>
            </div>
            <div class="text-muted text-end">
                <span>Contact: info@hutchybop.co.uk</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex">
            <div class="me-auto">
            </div>
            <div class="text-muted text-end">
                <span><a href="/info">Help</a></span>
            </div>
        </div>
    </div>
</footer>
