img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  margin-bottom: 16px;
  float: left;
  margin-right: 16px;
}

.card-header {
  background: #e51937;
  color: white;
}

.jumbotron,
.bg-light.p-5.rounded-3 {
  background: #e51937 !important;
  color: white !important;
}

.jumbotron h1,
.bg-light.p-5.rounded-3 h1 {
  color: white !important;
}

.jumbotron p,
.bg-light.p-5.rounded-3 p {
  color: white !important;
}

#review {
  background: #0b4019;
  color: white;
}

#addReview {
  background: #0b4019;
  color: white;
}

.card-img-top {
  width: 50%;
  float: left;
  margin-right: 16px;
}

strong {
  text-align: center;
}
